<a href="https://colab.research.google.com/github/ShaunZhxiong/musa-611-midterm/blob/main/DogNYC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

dogNYC

In [5]:
% pip install geopandas &> /dev/null
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import geopandas as gpd

In [6]:
dogRun = gpd.read_file("/content/NYC Parks Dog Runs.geojson")
dogRun

,zipcode,name,system,surface,dog_area_t,featuresta,parentid,gispropnum,objectid,communityb,department,precinct,seating,councildis,borough,geometry
0,10038,Fishbridge Garden Dog Run,M291-DOGAREA0043,None,Dog Run,Active,M291,M291,292,101,M-01,1,None,1,M,"MULTIPOLYGON (((-74.00165 40.70933, -74.00099 ..."
1,11360,Little Bay Park Dog Run,Q010A-DOGAREA0003,None,Dog Run,Active,Q010A-ZN01,Q010A,318,407,Q-11,109,None,19,Q,"MULTIPOLYGON (((-73.79285 40.78794, -73.79280 ..."
2,10471,Canine Court Dog Run,X092-DOGAREA0018,None,Dog Run,Active,X092-ZN06,X092,375,226,X-13,50,None,11,X,"MULTIPOLYGON (((-73.89513 40.89907, -73.89530 ..."
3,10009,Tompkins Square Park Dog Run,M088-DOGAREA0026,None,Dog Run,Active,M088,M088,311,103,M-03,9,None,2,M,"MULTIPOLYGON (((-73.98141 40.72645, -73.98143 ..."
4,11228,Dyker Beach Park Dog Run,B028-DOGAREA0007,None,Dog Run,Active,B028,B028,266,310,B-10,68,None,50,B,"MULTIPOLYGON (((-74.02145 40.61746, -74.02112 ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,11101,Hunters Point South Park Dog Run,Q471-DOGAREA0017,None,Dog Run,Active,Q471,Q471,380,402,Q-02,108,None,26,Q,"MULTIPOLYGON (((-73.96011 40.74340, -73.95994 ..."
83,None,Overlook Dog Park / The Barking Lot,Q083-DOGAREA0009,Natural,Dog Run,Active,Q015-ZN01,Q083,1185,None,Q-05,83,None,NULL,Q,"MULTIPOLYGON (((-73.83632 40.71080, -73.83631 ..."
84,11423,Cunningham Park Dog Run,Q021-DOGAREA0007,None,Dog Run,Active,Q021-ZN01,Q021,316,408,Q-08,107,None,23,Q,"MULTIPOLYGON (((-73.77558 40.72649, -73.77565 ..."
85,10454,St. Mary's Park Dog Run,X045-DOGAREA0014,Natural,Dog Run,Active,X045,X045,779,201,X-01,40,No,17,X,"MULTIPOLYGON (((-73.91222 40.80981, -73.91199 ..."
86,10065,Andrew Haswell Green Dog Run,M108Q1-DOGAREA0036,None,Dog Run,Active,M108T-ZN05,M108Q1,290,108,M-15,19,Yes,5,M,"MULTIPOLYGON (((-73.95707 40.76011, -73.95702 ..."

use the techniques in Yelp review

In [122]:
episodeSummaryNotName = episodeSummary
episodeSummaryNotName["Summary"] = episodeSummaryNotName["Summary"].str.findall( r'\w+|^\s\w+')

In [123]:
ignored = ["Rachel","Ross","Monica","Chandler","Joey","Phoebe","Gunther",
       "Gunther","Janice","Carol","Judy","Jack","Susan","Marcel","Barry",
       "Mr. Heckles","Paolo","Ben","Estelle","Julie","Mindy","Bobby",
       "Terry","Mr. Douglas","Jasmine","Kiki","Michele","Nora","David","Steve","Frank",
       "Richard","Mr. Treeger","Sandra","Eddie","Dr. Mike Horton","Joanna","Dr. Leonard Green",
       "Sophie","Bonnie","Mark","Pete","Kate","Marshall","Lauren","Mr. Kaplan Jr.","Chloe",
       "Isaac","Alice","Phoebe","Doug","Ugly Naked Guy","Dina","Emily","Kathy","Joshua",
       "Mr. Waltham","Stephen","Andrea","Gary","Danny","Dr. Ledbetter","Randall","Kim",
       "Helena","Mr. Zelner","Janine","Jill","Elizabeth","Paul",'Russell',"Dr. Roger","Jake",
       "Richard",'Mona',"Dr. Long","Eric",'Parker',"Emma",'Mike',"Charlie",'Gavin',
       'Steve',"Molly","Claudia",'Ken',"Amy" ,'Clifford','Bitsy','Theodore',"Erica"]

In [124]:
for i in range(len(episodeSummaryNotName)):
  print(f"Is processing episode: {i}") if i % 40 == 0 else 0
  for j in range(len(episodeSummaryNotName["Summary"][i])):
    episodeSummaryNotName["Summary"][i][j] = episodeSummaryNotName["Summary"][i][j] if episodeSummaryNotName["Summary"][i][j] not in ignored else " "

Is processing episode: 0
Is processing episode: 40
Is processing episode: 80
Is processing episode: 120
Is processing episode: 160
Is processing episode: 200

In [134]:
episodeSummaryNotName.head(n=6)

,Year_of_prod,Season,Episode_Title,Duration,Summary,Director,Stars,Votes
0,1994,1,The One with the Sonogram at the End,22,"[ , finds, out, his, ex, wife, is, pregnant, ...",James Burrows,8.1,4888
1,1994,1,The One with the Thumb,22,"[ , becomes, irritated, when, everyone, likes,...",James Burrows,8.2,4605
2,1994,1,The One with George Stephanopoulos,22,"[ , and, , take, , to, a, hockey, game, to, ...",James Burrows,8.1,4468
3,1994,1,The One with the East German Laundry Detergent,22,"[Eager, to, spend, time, with, , , pretends,...",Pamela Fryman,8.5,4438
4,1994,1,The One with the Butt,22,"[ , s, obsessiveness, is, put, to, the, test, ...",Arlene Sanford,8.1,4274
5,1994,1,The One with the Blackout,22,"[When, New, York, suffers, from, a, blackout, ...",James Burrows,9.0,5469

In [127]:
collapsedText = np.array(episodeSummaryNotName['Summary'])

In [132]:
AllLocations = []
for i in range(len(collapsedText)):
  temp = ' '.join(collapsedText[i])
  cities = GeoText(temp).cities
  AllLocations.append(cities)

In [133]:
AllLocations

[[],
 [],
 [],
 [],
 [],
 ['York'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Los Angeles'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['London'],
 ['London'],
 [],
 [],
 [],
 [],
 ['London'],
 ['London'],
 [],
 ['London'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Las Vegas'],
 ['Las Vegas'],
 [],
 ['New York'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['New York'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Man'],
 [],
 [],
 [],
 [],
 [],
 ['Long Island'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Tulsa'],
 ['Tulsa'],
 [],
 [],
 ['Sandy'],
 [],
 [],
 [],
 ['Tulsa'],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 [],
 ['Westchester'],
 [],
 [],
 ['Long Island'],
 [],
 [],
 [],
 [],
 ['Paris']]